.board {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 100px 100px 100px;
}

.cell {
  box-sizing: content-box;
  font-family: sans-serif;
  height: 100px;
  border: 1px solid gray;
  font-size: 78px;
  margin: -1px -1px 0 0;
  text-align: center;
}

.cell:active {
  background-color: gray;
  color: lightgray;
}